.article-card {
    height: 200px;
    width: 350px;
    border-radius: 1.5rem;
    overflow: hidden;
    background: #333;
    margin: 1rem;
    position: relative;
    transition: all 3s ease;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.6);
}

.single-article {
    height: auto;
    width: auto;
}

.article-card h3 {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.75;
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
}

.article-card p {
    padding: 1rem;
    margin: 0;
    color: antiquewhite;
}

.article-card img {
    height: 75%;
    width: 100%;
    object-fit: cover;
}


/**** Propriete lorsque article-card est expanded ****/

.article-card.expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 200px;
    height: auto;
    left: 0;
}

.article-card.expanded img {
    margin-top: 10px;
    border-style: solid;
    border-color: #4a4949;
    height: 150px;
    width: auto;
    border-radius: 15%;

}

.article-card.expanded p {
    padding: 2rem;
}