header {
    color: aliceblue;
    width: 100%;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

/***** HEADER LEFT *****/
.header-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 20px;
}

.avatar {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.user-infos {
    padding-left: 20px;
}

.header-contacts {
    margin-top: 20px;
}

.contact-item {
    margin-right: 20px;
    cursor: pointer;
}

.contact-item:hover {
    border-radius: 10%;
    background-color: rgb(188, 200, 212);
}


/***** HEADER RIGHT *****/

.header-right {
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.header-right-btn {

    background-color: rgb(44, 44, 44);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-right-btn:hover {
    background-color: rgb(56, 56, 56);
}